body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "EB Garamond", serif;
  font-size: 120%;
  text-align: center;
  font-weight: 100;
  color: #777;
}

input[type=checkbox] + label,
input[type=radio] + label {
  display: inline-block;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  content: "";
  display: inline-block;
  vertical-align: -0.2em;
  width: 1em;
  height: 1em;
  border: 0.15em solid #0074d9;
  border-radius: 0.2em;
  margin-right: 0.3em;
  background-color: white;
}
input[type=radio] + label:before {
  border-radius: 50%;
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
  background-color: #0074d9;
  box-shadow: inset 0 0 0 0.15em white;
}
input[type=radio]:focus + label:before,
input[type=checkbox]:focus + label:before {
  outline: 0;
}

input {
  border: none;
  font-family: "EB Garamond", serif;
  font-size: 0.8em;
  color: #777;
}

input[type=checkbox],
input[type=radio] {
  border: 1px solid #777;
  border-radius: 0;
  height: 15px;
  float: right;
  margin-right: 5px;
}

input:focus {
  outline: none;
}

.btn:hover {
  background-color: #eee;
}
.btn:focus {
  outline: none !important;
}

.btn:disabled {
  background-color: #333;
  color: #666;
}
h1,
h2,
h3 {
  font-weight: 100;
}

#main {
  display: inline-block;
  margin: 0 auto;
  width: 90%;
}

#logo img {
  width: 300px;
  margin-bottom: 60px;
}
.home-description {
  font-weight: 100;
  margin: 100px 0;
}

label {
  font-size: 100%;
  font-weight: 300;
}
.btn-next {
  margin-top: 30px;
}
.answer {
  width: 70%;
  margin: auto;
  text-align: left;
  padding-left: 10%;
  margin-bottom: 20px;
}
.login-page .login-box {
  padding: 100px 0;
}

#profile-div {
  display: inline-block;
  width: 100%;
  height: 171px;
  margin: 0 auto;
  border: 3px solid #777;
  border-bottom: none;
  float: left;
  text-align: left;
}

#profile-about {
  width: 100%;
  border-bottom: 3px solid #777;
}

#profile-add-entry-div {
  width: 100%;
  border-bottom: 3px solid #777;
}

#profile-entries {
  width: 100%;
  height: 400px;
  border: 3px solid #777;
  border-top: none;
  margin-top: -3px;
  text-align: left;
  overflow-y: scroll;
}

#profile-entries div {
  border-bottom: 3px solid #777;
  padding-left: 20px;
}

#profile-about h4,
#profile-add-entry-div h4 {
  margin: 0;
  padding: 10px 10px;
  display: inline-block;
  width: 70%;
}

#profile-map {
  display: inline-block;
  width: 100%;
  border: 3px solid #777;
  border-top: none;
  height: 330px;
}

.left-div {
  margin-right: 10px;
}

.left-div,
.right-div {
  display: inline-block;
  width: 80%;
  height:500px;
  overflow-y: auto;
  margin-bottom: 30px;
  border: 3px solid #777;
  float: left;
  text-align: left;
}

.left-div h4:first-child,
.right-div h4:first-child {
  border-bottom: 3px solid #777;
}

.left-div *,
.right-div * {
  padding-left: 5px;
  padding-bottom: 2px;
}

.profile-picture {
  height: 100px;
  width: 100px;
  margin-top: 7px;
  margin-right: 5px;
  border-radius: 50%;
}

.profile-picture-sm {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#edit-about-me,
#show-about-form {
  float: right;
  margin-right: 5px;
  margin-top: 8px;
}

#profile-head {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 20px;
}

#welcome-message {
  text-align: left;
  padding-left: 10px;
  font-size: 1.5em;
}

#profile-add-entry {
  float: right;
  margin-right: 5px;
  margin-top: 8px;
}

#auto-input {
  width: 100%;
  height: 40px;
  padding: 0;
  border: 3px solid #777;
}

#auto-input button {
  float: right;
  margin-right: 5px;
  margin-top: 6px;
}

#bird-search {
  width: 70%;
  color: #777;
  font-size: 100%;
  border: none;
  float: left;
}

#bird-search:focus {
  outline: none;
}

.btn {
  border: 3px solid #777
  border-radius: 0;
  background: none;
  font-size: 0.8em;
  font-family: "EB Garamond", serif;
  color: #777
}

#selected-bird {
  border-bottom: 3px solid #777;
  border-top: none;
  height: 640px;
  width: 100%;
}

#entry-picture {
  margin: 0 auto;
  border-bottom: 3px solid #777;
}

#entry-right {
  width: 100%;
  padding: 0;
}

#entry-right div {
  border-bottom: 3px solid #777;
  padding: 5px;
}

.smaller-italic {
  font-style: italic;
  font-size: 0.8em;
  font-weight: 400;
}

#logo {
  width: 120px;
  float: left;
}

header {
  width: 90%;
  height: 120px;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  clear: both;
}

header a {
  float: right;
}

#header-left {
  float: left;
}

header h2 {
  display: inline-block;
  color: #fc7b02;
  margin-left: 5px;
  margin-top: 40px;
}

#main h2 {
  text-align: left;
  margin-left: 5px;
  margin-bottom: 15px;
}

#map-div {
  padding: 0;
  width: 100%;
  height: 330px;
  clear: both;
}

.angular-google-map {
  padding: 0;
  height: 100%;
  width: 100%;
}

.angular-google-map-container {
  padding: 0;
  width: 100%;
  height: 330px;
}

.angular-google-map-container div:first-child {
  padding: 0;
  height: 100%;
  width: 100%;
}

#new-entry-form {
  padding: 0;
}

div[title="Show street map"],
div[title="Show satellite imagery"] {
  display: none;
}

.gm-style input {
  height: 30px;
  width: 250px;
  margin: 5px;
  font-family: "EB Garamond", serif;
  font-size: 1.8em;
}

#entry-remarks,
#about-input {
  width: 70%;
}

#about-input {
  padding-left: 10px;
}

#entry-submit {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #777;
}

.a0-image,
.a0-icon-badge {
  display: none;
}

#show-bird-name {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

#users-index-div {
  margin: 0;
  width: 100%
  text-align: left;
  border: 3px solid #777;
}

#users-index-div div {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  border-bottom: 3px solid #777;
}

#users-index-div div img {
  margin-left: 15px;
}

#birds-index-div {
  width: 100%;
  margin: 0;
}

#birds-index-div div {
  width: 100%;
  padding: 0;
}

#birds-index-div div h4 input {
  padding: 10px;
}

#nav-menu {
  display: block;
  background-color: #fc7b02;
  z-index: 999;
  clear: none;
  text-align: right;
}

#nav-menu ul {
  list-style: none;
  display: block;
  height: 280px;
}

#nav-menu ul a {
  color: #fff;
  margin: 20px;
}

#nav-menu ul li {
  height: 16%;
  margin-right: 50px;
}

#hamburger {
  float: right;
  margin-top: 40px;
  margin-right: 5px;
}

#welcome-message p {
  width: 80%;
  margin: 30px auto;
  font-size: 0.9em;
}

#start-button {
  font-size: 1.1em;
  padding: 5px 12px;
}
