<h2>Add Entry:</h2>
<div id="auto-input">
  <autocomplete
    attr-input-id="bird-search"
    data="data"
    ng-model="selection"
    attr-placeholder="Enter Bird Common Name..."
    autofocus>
  </autocomplete>
  <button class="btn" ng-click="getBird(); showMe=true">Select</button>
</div>
<div class="right-div" ng-show="showMe" id="selected-bird">
  <div id="entry-picture">
    <img class="profile-picture" src="{{ bird.picture }}">
  </div>
  <form id="new-entry-form" ng-submit="addEntry()">
    <div id="entry-right">
      <div>
        Date of Sighting:<input type="date" ng-model="bird.date" required>
      </div>
      <div>
        Remarks: <input id="entry-remarks" type="text" ng-model="bird.remarks" placeholder="Click here to enter remarks">
      </div>
      <div>
        Locaton: <span class="smaller-italic">Search for nearest city on the map below and place marker</span>
      </div>
    </div>
    <div id="map-div">
      <ui-gmap-google-map options="{streetViewControl:false}"
                          ng-show="showMe"
                          center="map.center"
                          zoom="map.zoom">
        <ui-gmap-search-box options="searchbox.options"
                            template="searchbox.template"
                            events="searchbox.events"
                            position="searchbox.position">
        </ui-gmap-search-box>
        <ui-gmap-marker coords="marker.coords"
                        options="marker.options"
                        events="marker.events"
                        idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
    <button id="entry-submit" class="btn" type="submit">Submit</button>
  </form>
</div>
