  <div id="profile-head" ng-init="profile.checkProfile()" ng-cloak>
    <img class="profile-picture" ng-src="{{profile.confirmedUser.picture}}">
    <span id="welcome-message">Hi, {{profile.confirmedUser.name}}!</span>
  </div>
  <div id="profile-div" ng-cloak>

    <div id="profile-about">

      <h4 ng-hide="showMe">About Me: {{profile.confirmedUser.aboutMe}}</h4><button id="show-about-form" ng-click="showMe=true" ng-hide="showMe" class="btn">Edit</button>
      <form id="about-form" ng-show="showMe" class="form-group" ng-submit="profile.updateAboutMe()">
        <h4>About Me:<input id="about-input" type="text" maxlength="55" ng-maxlength="55" ng-model="profile.updatedUser.aboutMe" placeholder="{{profile.confirmedUser.aboutMe}}" autofocus></h4>
          <button ng-click="showMe=false" id="edit-about-me" class="btn" type="submit">Submit</button>
      </form>

    </div>

    <div id="profile-add-entry-div">
      <h4>Number of Entries: {{profile.confirmedUser.entries.length}} |
        <span class="smaller-italic">Click on an entry in the list below to see its details.</span></h4>
      <button id="profile-add-entry" class="btn" ng-click="profile.entryRedirect()">Add Entry</button>
    </div>

  </div>


<div id="profile-map">
  <ui-gmap-google-map options="{streetViewControl:false}"
  center="profile.map.center"
  zoom="profile.map.zoom">
  <ui-gmap-markers models="profile.markers" coords="'coords'" idKey="'id'">
  </ui-gmap-markers>
  <ui-gmap-marker coords="marker.coords"
  options="marker.options"
  events="marker.events"
  idkey="marker.id"
  ng-repeat="marker in map.markers track by $index">
</ui-gmap-marker>
</ui-gmap-google-map>
</div>
<div id="profile-entries">

  <div ng-repeat="entry in profile.confirmedUser.entries | orderBy:'-date'">
    <a ui-sref="show-entry({ userId: entry.userId, id: entry.id })">
      <img class="profile-picture" ng-src="{{ entry.picture }}">{{ entry.name }} | {{ entry.date | date }} | {{ entry.city }}
    </a>
  </div>

</div>
